<html>
    <head>
        <title>Zim Application Demo</title>

        <link rel="stylesheet" href="{{ system.assets_base_url }}/assets/css/w3.css">
        <link rel="stylesheet" href="{{ system.assets_base_url }}/assets/css/gallery.css">
    </head>
    <body>
        <!-- Sidebar -->
        {% include "sidebar.html" %}

        <!-- Include content -->
        <div style="margin-left:25%">
        {% include "content" %}

        <!-- Footer -->
        {% include "footer.html" %}
    </body>
</html>
